@charset "UTF-8";

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

header {
    position: absolute;
    width: 100%;
    background-color: rgb(22, 22, 22);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.334);
    transition: 0.7s;
}

header:hover {
    transition: 0.7s;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5);
    padding: 6px 0px 6px 0px;
}

header > h1 {
    color: white;
    text-align: center;
    padding: 10px 0px 20px 0px;
}

main {
    display: flex;
}

.imagemleft {
    display: flex;
    width: 65vw;
    height: 100vh;
}

.boxcentral {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    background-color: rgb(25, 25, 42);
    box-shadow: -30px 10px 20px rgba(0, 0, 0, 0.477);
    transition: 0.7s;
}

.boxcentral:hover {
    margin: 0px 0px 0px -50px;
    transition: 0.7s;
    box-shadow: -60px 40px 70px rgba(0, 0, 0, 0.675);
}

.boxsecundaria {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 65%;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: rgb(28, 28, 28);
    color: white;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.489);
}

.boxsecundaria h1 {
    padding: 0px 0px 10px 0px;
    text-align: center;
}

.boxsecundaria .subfrase {
    text-align: center;
    font-size: 1.1em;
    padding: 0px 0px 40px 0px;
}

.boxsecundaria p {
    padding: 10px 0px 0px 0px;
    font-size: 1em;
    font-size: 1.1em;
}

.boxsecundaria a {
    text-decoration: none;
    color: rgb(163, 163, 249);
}

.boxsecundaria a:hover {
    text-decoration: underline;
    color: rgb(132, 132, 253);
}

input {
    outline: none;
    font-size: 12pt;
    width: 70%;
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0px 10px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.458);
}

button {
    padding: 5px 15px;
    margin: 10px 0px 20px 0px;
    transition: 0.3s;
    border-radius: 5px;
    background-color: rgb(64, 169, 82);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.458);
}

button:hover  {
    padding: 7px 17px;
    transition: 0.3s;
    cursor: pointer;
}

.login {
    margin: 5px 0px 0px 0px;
    font-size: 1.1em;
}